# Copier ce fichier en .env.local et adapter les valeurs
# .env.local est IGNORÉ par git (voir .gitignore)

APP_ENV=dev
APP_SECRET=dev_secret_32_chars_minimum_xxxx
DATABASE_URL="mysql://facturation:secret@127.0.0.1:3306/facturation_dev?serverVersion=8.0&charset=utf8mb4"
REDIS_URL=redis://localhost:6379
JWT_PASSPHRASE=dev_passphrase
S3_KEY=minioadmin
S3_SECRET=minioadmin
ENCRYPTION_KEY=MzJjaGFyc01pbmltdW1FbmNyeXB0aW9uS2V5eHh4
